/*
Theme Name:   WP Recruitment Child
Theme URI: http://demo.cmssuperheroes.com/themeforest/wp-recruitment
Description: Multi-industry recruitment agency is a fully responsive job-listing theme which allows admins to post jobs and allows the users to apply for them. The theme also offers a front-end user account section, which allows the user to create their candidate account, upload their CV/Resume, view their application history, create job alerts & more!
Author:       CMSSuperHeroes
Author URI: http://themeforest.net/user/CMSSuperHeroes
Template:     wp-recruitment
Version:      1.1.5
Tags:  candidates, career, employment, job board, job listing, job portal, job postings, jobs, listing, recruit, recruiting, recruitment, resume
Text Domain:  wp-recruitment-child
*/